# Local Dev
.tmp
.env
*.vars
build/

# SC Development
node_modules
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Tenderly
/deployments/tenderly

# Misc
.DS_Store
